<configuration>
  <location path="http://cs.winona.edu/students/cs344fall2016/Group3/cs-website/index.php/admin">
      <system.web>
         <authorization>
            <allow users="DOMAIN\Domain Admins"/>
            <deny users="DOMAIN\Domain Users"/>
         </authorization>
      </system.web>
   </location>
</configuration>